<footer>
  <div class="f-info">
    <div class="f-socials">
      <a href="https://www.instagram.com/explorewithgholap" target="_blank"
        ><i class="fa-brands fa-instagram"></i
      ></a>
      <a href="https://www.github.com/gholaprohit" target="_blank"
        ><i class="fa-brands fa-github"></i
      ></a>
      <a href="https://www.linkedin.com/in/gholap-rohit" target="_blank"
        ><i class="fa-brands fa-linkedin"></i
      ></a>
    </div>
    <div class="f-legal">
      <p>Copyright &copy; 2025 livo. All rights reserved</p>
    </div>
    <div class="f-links">
      <a href="/privacy">Privacy</a>
      <a href="/terms">Terms</a>
    </div>
  </div>
</footer>
